* {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Arial";
}

p {
  font-size: 32px;
  margin-bottom: 14px;
}

input {
  display: block;
  margin-bottom: 6px;
  width: 300px;
  padding: 10px 16px;
  border: none;
  background-color: rgb(233, 233, 233);
}

button {
  width: auto;
  margin-top: 24px;
  border: none;
  padding: 10px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.request-button {
  background-color: black;
  color: white;
}

